div.leftmenu {
    text-align: right;
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    padding-left: 10px;
    background-color: #cdcdcd;
    border-radius: 15px;
}

ul.leftmenu {
    list-style-type: none;
}

tr.dashboardheader, th.dashboardheader {
    text-transform: inherit;
    font-weight: inherit;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
}

span.login-description {
    text-transform: capitalize;
}

span.list-title {
    text-align: right;
}

h2.list-title {
    margin-right: 5%;
}

table.table {
    border-radius: 3px;
    margin-right: 5%;
    margin-left: auto;
    width: 85%;
}

span.banner-control {
    text-align: right;
    margin-right: 4%;
    margin-left: auto;
    display: block;
}

img.smallicon {
    width: 32px;
}

img.tinyicon {
    width: 16px;
}

.error-text {
    color: darkred;
    font-weight: bold;
}

div.inline-dialog {
    border: 2px solid black;
    width: 30%;
    /*float: left;*/
    overflow:hidden;
    margin-left: auto;
    margin-right:auto;
    border-radius: 30px;
}

h2.inline-dialog-title {
    background-color: lavender;
    border-top-right-radius: 30px;
    padding: 0.1em;
    padding-left: 0.5em;
    border-top-left-radius: 30px;
}

table.login-table {
    margin-left: 1em;
}

button.inline-dialog {
    float: right;
    margin-right: 2em;
}

span.inline-dialog-content {
    margin-left: 1em;
}

.emphasis {
    font-weight: bold;
}