div.leftmenu {
    text-align: right;
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    padding-left: 10px;
    background-color: #cdcdcd;
    border-radius: 15px;
    width: 150px;
}

ul.leftmenu {
    list-style-type: none;
}

tr.dashboardheader, th.dashboardheader {
    text-transform: inherit;
    font-weight: inherit;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
}

span.login-description {
    text-transform: capitalize;
}

span.list-title {
    text-align: right;
}

h2.list-title {
    margin-right: 5%;
}

table.table {
    border-radius: 3px;
    margin-right: 5%;
    margin-left: auto;
    width: 85%;
}

span.banner-control {
    text-align: right;
    margin-right: 4%;
    margin-left: auto;
    display: block;
}

img.smallicon {
    width: 32px;
}

img.tinyicon {
    width: 16px;
}

.error-text {
    color: darkred;
    font-weight: bold;
}

div.inline-dialog {
    border: 2px solid black;
    width: 30%;
    overflow:hidden;
    margin-top:5em;
    margin-left: auto;
    margin-right:auto;
    border-radius: 30px;
}

h2.inline-dialog-title {
    background-color: lavender;
    border-top-right-radius: 30px;
    padding: 0.1em;
    padding-left: 0.5em;
    border-top-left-radius: 30px;
}

table.login-table {
    margin-left: 1em;
}

button.inline-dialog {
    float: right;
    margin-right: 2em;
}

.inline-dialog-content {
    margin-left: 1em;
}

.emphasis {
    font-weight: bold;
}

.mainbody {
    position: absolute;
    width:80%;
    left: 150px;
}

.intro-banner {
    text-align: center;
    font-size: 1.3em;
    color: green;
}

p.centered {
    text-align: center;
}

.value-not-present {
    font-style: italic;
    color: #777777;
}

.filter-list-block {
    margin-left: auto;
    margin-right: 5%;
    width: 85%;
    overflow: hidden;

}

.filter-list-entry {
    vertical-align: top;
}

a.filter-link-control {
    font-size: 0.8em;
    margin-left: 1em;
    cursor: pointer;
}

.filter-list-title {
    display: block;
    margin-bottom: 1em;
}

.filter-entry-label {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5em;
}

.filter-entry-input {
    display: inline-block;
    margin-right: 1.2em;
}

.filter-entry-error {
    margin-left: -5em;
}

label.selection-list {
    display: inline-block;
}

input.selection-list {
    margin-right: 1em;
}

li.selection-list {
    list-style: none;
}

li.horizontal-list-item {
    display: inline;
    margin-right: 1em;
}

p.warning-text {
    margin-left: auto;
    font-style: italic;
    font-weight: bold;
    color: darkorange;
    margin-right: 5%;
    width: 85%;
    overflow: hidden;
}

p.explanation {
    font-style: italic;
    font-size: 0.8em;
    color: darkblue;
}

h4 {
    margin-bottom: 0;
    margin-top: 1em;
    padding-bottom: 0;
    font-size: 2.4rem;

}
ul.no-gap {
    margin-top: 0;
    padding-top: 0;
}

.storage-status {
    font-size: 0.8em;
    font-style: italic;
    color: gray;
    margin-left: 0.4em;
}

.commission_buttons {
    margin-right: 1.1em;
}

.left_project_box {
    float: left;
    margin-left: 14px;
    margin-top: 14px;
}

.left_project_box_small {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.middle_project_box {
    float: left;
}

.right_project_box {
    float: right;
    font-size: 1.5em;

}

.right_project_box_small {
    float: right;
    font-size: 1.2em;

}

.project_box {
    border: #000000 2px solid;
    margin-left:100px;
    height: 220px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.middle_project_box td {
    font-size: 1.7em;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

.middle_project_box_data {

}

.middle_project_box_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 400px;
}

.middle_project_box_div_version {
    float: left;
    width: calc(100vw - 740px);
}

.middle_project_box_div_version_small {
    float: left;
    width: calc(100vw - 700px);
}

.middle_project_box_div_row {
    font-size: 1.7em;
    clear: left;
}

.middle_project_box_div_row_small {
    font-size: 1.2em;
    clear: left;
}

.middle_project_box_div_one {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    float: left;
    width: 50px;
}

.middle_project_box_div_one_small {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    float: left;
    width: 40px;
}

.middle_project_box_div_two {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    float: left;
    width: 50px;
}

.middle_project_box_div_two_small {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    float: left;
    width: 40px;
}

.middle_project_box_div_three {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    float: left;
    width: calc(100vw - 1000px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.middle_project_box_div_three_small {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    float: left;
    width: calc(100vw - 860px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.middle_project_box_div_four {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    float: left;
    width: 120px;
}

.middle_project_box_div_four_small {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    float: left;
    width: 80px;
}

.projects_container {
    display: flex;
    flex-wrap: wrap;
}

.project_box_div_version {
    display: flex;
    flex: 1;
    border: #000000 2px solid;
    margin-left:100px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    min-width: 350px;
    padding: 1em;
}

.project_box_div_version_small {
    display: flex;
    flex: 1;
    border: #000000 2px solid;
    margin-left:100px;
    height: 170px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1em;
}

.project_box_info_container {
    display: grid;
    flex: 4;
    grid-row-gap: 0.4em;
    grid-template-columns: 40px 40px auto;
}

div.project_box_info_filter {
    grid-column-start: 1;
    grid-column-end: 2;
}

div.project_box_info_icon {
    justify-content: center;
    display: flex;
    grid-column-start: 2;
    overflow: hidden;
    grid-column-end: 3;
}

img.project_box_icon_normal {
    width: 28px;
}
div.project_box_info_label {
    grid-column-start: 3;
    grid-column-end: 4;
}

div.project_box_open_buttons_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 60px;
}

div.project_box_button {
    flex: 1;
}

.clickable {
    cursor: pointer;
}

.right_project_box_top {
    margin-top: 10px;
    margin-left: 10px;
}

.right_project_box_top_small {
    margin-top: 10px;
    margin-left: 6px;
}

.right_project_box_middle {
    margin-right: 26px;
}

.right_project_box_middle_small {
    margin-right: 26px;
}

.right_project_box_bottom {
    margin-right: 26px;
    margin-top: 10px;
}

.right_project_box_bottom_small {
    margin-right: 26px;
    margin-top: 10px;
}

.middle_project_box_div_two_users {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    float: left;
    width: 50px;
    font-size: 1.4em;
}

.middle_project_box_div_two_users_small {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    float: left;
    width: 40px;
    font-size: 1.4em;
}

.middle_project_box_div_two_user {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    float: left;
    width: 50px;
    font-size: 1.6em;
    margin-left: 4px;
}

.middle_project_box_div_two_user_small {
    margin: 0;
    padding: 0;
    padding-top: 6px;
    float: left;
    width: 40px;
    font-size: 1.6em;
    margin-left: 4px;

}

.media_rules {
    margin-right: 1.1em;
}

.size_button {
    margin-left: 10px;
}

.validation-status-text {
    margin-right: 0.2em;
    margin-left: 1em;
    vertical-align: top;
    float: left;
}


.clickable-js-link {
    color: blue;
    margin-left: 0.5em;
    cursor: pointer;
}

.full-width {
    width: 100%;
}

td.narrow {
    width: 25%;
}