div.leftmenu {
    text-align: right;
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    padding-left: 10px;
    background-color: #cdcdcd;
    border-radius: 15px;
    width: 150px;
}

ul.leftmenu {
    list-style-type: none;
}

tr.dashboardheader, th.dashboardheader {
    text-transform: inherit;
    font-weight: inherit;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
}

span.login-description {
    text-transform: capitalize;
}

span.list-title {
    text-align: right;
}

h2.list-title {
    margin-right: 5%;
}

table.table {
    border-radius: 3px;
    margin-right: 5%;
    margin-left: auto;
    width: 85%;
}

span.banner-control {
    text-align: right;
    margin-right: 4%;
    margin-left: auto;
    display: block;
}

img.smallicon {
    width: 32px;
}

img.tinyicon {
    width: 16px;
}

.error-text {
    color: darkred;
    font-weight: bold;
}

div.inline-dialog {
    border: 2px solid black;
    width: 30%;
    overflow:hidden;
    margin-top:5em;
    margin-left: auto;
    margin-right:auto;
    border-radius: 30px;
}

h2.inline-dialog-title {
    background-color: lavender;
    border-top-right-radius: 30px;
    padding: 0.1em;
    padding-left: 0.5em;
    border-top-left-radius: 30px;
}

table.login-table {
    margin-left: 1em;
}

button.inline-dialog {
    float: right;
    margin-right: 2em;
}

.inline-dialog-content {
    margin-left: 1em;
}

.emphasis {
    font-weight: bold;
}

.mainbody {
    position: absolute;
    width:80%;
    left: 150px;
}

.intro-banner {
    text-align: center;
    font-size: 1.3em;
    color: green;
}

p.centered {
    text-align: center;
}

.value-not-present {
    font-style: italic;
    color: #777777;
}

.filter-list-block {
    margin-left: auto;
    margin-right: 5%;
    width: 85%;
    overflow: hidden;

}

.filter-list-entry {
    vertical-align: top;
}

a.filter-link-control {
    font-size: 0.8em;
    margin-left: 1em;
    cursor: pointer;
}

.filter-list-title {
    display: block;
    margin-bottom: 1em;
}

.filter-entry-label {
    display: inline-block;
    vertical-align: top;
    margin-right: 0.5em;
}

.filter-entry-input {
    display: inline-block;
    margin-right: 1.2em;
}

.filter-entry-error {
    margin-left: -5em;
}

label.selection-list {
    display: inline-block;
}

input.selection-list {
    margin-right: 1em;
}

li.selection-list {
    list-style: none;
}

li.horizontal-list-item {
    display: inline;
    margin-right: 1em;
}

p.warning-text {
    margin-left: auto;
    font-style: italic;
    font-weight: bold;
    color: darkorange;
    margin-right: 5%;
    width: 85%;
    overflow: hidden;
}

h4 {
    margin-bottom: 0;
    margin-top: 1em;
    padding-bottom: 0;
    font-size: 2.4rem;

}
ul.no-gap {
    margin-top: 0;
    padding-top: 0;
}

.storage-status {
    font-size: 0.8em;
    font-style: italic;
    color: gray;
    margin-left: 0.4em;
}