<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2009-2016 Lightbend Inc. <https://www.lightbend.com>
  -->
<!-- The default logback configuration that Play uses in dev mode if no other configuration is provided -->
<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{15} - %message%n%xException{20}</pattern>
        </encoder>
    </appender>

    <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level -->
    <!--<appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>-->

    <logger name="play" level="INFO" />
    <logger name="application" level="WARN" />
    <logger name="services.PostrunActionScanner" level="WARN"/>
    <logger name="helpers.ProjectCreateHelperImpl" level="WARN"/>
    <logger name="services.actors.ClusterListener" level="WARN"/>
    <logger name="controllers.MessageTest" level="WARN"/>
    <logger name="models.ProjectRequestPluto" level="WARN"/>
    <logger name="drivers.PathStorage" level="WARN"/>
    <logger name="models.PlutoWorkingGroup" level="WARN"/>
    <logger name="models.PlutoCommission" level="WARN"/>
    <logger name="services.PlutoWGCommissionScanner" level="WARN"/>
    <logger name="controllers.Files" level="WARN" />
    <logger name="StorageControllerSpec" level="WARN"/>
    <logger name="auth.Security" level="WARN"/>
    <logger name="controllers.Application" level="INFO"/>
    <logger name="controllers.System" level="INFO"/>
    <logger name="auth.LDAP" level="INFO"/>
    <logger name="services.actors.MessageProcessorActor" level="WARN"/>
    <logger name="services.actors.MessageProcessorState" level="WARN"/>
    <logger name="services.PlutoProjectTypeScanner" level="WARN"/>
    <logger name="models.FileEntry" level="WARN" />
    <logger name="controllers.Files" level="WARN" />
    <logger name="postrun.UpdateAdobeUuid" level="INFO"/>
    <logger name="models.ProjectMetadata" level="WARN"/>
    <logger name="UpdateAdobeUuidSpec" level="WARN"/>
    <logger name="services.StorageScanner" level="DEBUG"/>
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF" />
    <logger name="MockProjectCreationActor" level="DEBUG"/>
    <logger name="services.actors.ProjectCreationActor" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <!-- <appender-ref ref="Sentry" />-->
    </root>

</configuration>
